.grid-container{
    width :960px;
    height : 600px;
    display:flex;

    
    background-color: lightgray;

}
body{
   
    display:flex;
 
    justify-content: center; /* Center horizontally */ 
    align-items: center; /* Center vertically */
    height: 100vh;
}